.git
.github
.gitignore
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.egg-info
dist
site
venv
.env
*.pkl
*.pt
*.gguf
docs
tests
examples
Makefile
mkdocs.yml
CONTRIBUTING.md
SECURITY.md
CHANGELOG.md
MANIFEST.in
.pylintrc
.mypy_cache
